<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[):]</key>
	<string>ee_1</string>
	<key>[:D]</key>
	<string>ee_2</string>
	<key>[;)]</key>
	<string>ee_3</string>
	<key>[:-o]</key>
	<string>ee_4</string>
	<key>[:p]</key>
	<string>ee_5</string>
	<key>[(H)]</key>
	<string>ee_6</string>
	<key>[:@]</key>
	<string>ee_7</string>
	<key>[:s]</key>
	<string>ee_8</string>
	<key>[:$]</key>
	<string>ee_9</string>
	<key>[:(]</key>
	<string>ee_10</string>
	<key>[:&apos;(]</key>
	<string>ee_11</string>
	<key>[:|]</key>
	<string>ee_12</string>
	<key>[(a)]</key>
	<string>ee_13</string>
	<key>[8o|]</key>
	<string>ee_14</string>
	<key>[8-|]</key>
	<string>ee_15</string>
	<key>[+o(]</key>
	<string>ee_16</string>
	<key>[&lt;o)]</key>
	<string>ee_17</string>
	<key>[|-)]</key>
	<string>ee_18</string>
	<key>[*-)]</key>
	<string>ee_19</string>
	<key>[:-#]</key>
	<string>ee_20</string>
	<key>[:-*]</key>
	<string>ee_21</string>
	<key>[^o)]</key>
	<string>ee_22</string>
	<key>[8-)]</key>
	<string>ee_23</string>
	<key>[(|)]</key>
	<string>ee_24</string>
	<key>[(u)]</key>
	<string>ee_25</string>
	<key>[(S)]</key>
	<string>ee_26</string>
	<key>[(*)]</key>
	<string>ee_27</string>
	<key>[(#)]</key>
	<string>ee_28</string>
	<key>[(R)]</key>
	<string>ee_29</string>
	<key>[({)]</key>
	<string>ee_30</string>
	<key>[(})]</key>
	<string>ee_31</string>
	<key>[(k)]</key>
	<string>ee_32</string>
	<key>[(F)]</key>
	<string>ee_33</string>
	<key>[(W)]</key>
	<string>ee_34</string>
	<key>[(D)]</key>
	<string>ee_35</string>
	<key>[(36)]</key>
	<string>ee_36</string>
	<key>[(37)]</key>
	<string>ee_37</string>
	<key>[(38)]</key>
	<string>ee_38</string>
	<key>[(39)]</key>
	<string>ee_39</string>
	<key>[(40)]</key>
	<string>ee_40</string>
	<key>[(41)]</key>
	<string>ee_41</string>
	<key>[(42)]</key>
	<string>ee_42</string>
	<key>[(43)]</key>
	<string>ee_43</string>
	<key>[(44)]</key>
	<string>ee_44</string>
	<key>[(45)]</key>
	<string>ee_45</string>
	<key>[(46)]</key>
	<string>ee_46</string>
	<key>[(47)]</key>
	<string>ee_47</string>
	<key>[(48)]</key>
	<string>ee_48</string>
	<key>[(49)]</key>
	<string>ee_49</string>
	<key>[(50)]</key>
	<string>ee_50</string>
	<key>[(51)]</key>
	<string>ee_51</string>
	<key>[(52)]</key>
	<string>ee_52</string>
	<key>[(53)]</key>
	<string>ee_53</string>
	<key>[(54)]</key>
	<string>ee_54</string>
	<key>[(55)]</key>
	<string>ee_55</string>
	<key>[(56)]</key>
	<string>ee_56</string>
	<key>[(57)]</key>
	<string>ee_57</string>
	<key>[(58)]</key>
	<string>ee_58</string>
	<key>[(59)]</key>
	<string>ee_59</string>
	<key>[(60)]</key>
	<string>ee_60</string>
	<key>[(61)]</key>
	<string>ee_61</string>
	<key>[(62)]</key>
	<string>ee_62</string>
	<key>[(63)]</key>
	<string>ee_63</string>
	<key>[(64)]</key>
	<string>ee_64</string>
	<key>[(65)]</key>
	<string>ee_65</string>
	<key>[(66)]</key>
	<string>ee_66</string>
	<key>[(67)]</key>
	<string>ee_67</string>
	<key>[(68)]</key>
	<string>ee_68</string>
	<key>[(69)]</key>
	<string>ee_69</string>
	<key>[(70)]</key>
	<string>ee_70</string>
	<key>[(71)]</key>
	<string>ee_71</string>
	<key>[(72)]</key>
	<string>ee_72</string>
	<key>[(73)]</key>
	<string>ee_73</string>
	<key>[(74)]</key>
	<string>ee_74</string>
	<key>[(75)]</key>
	<string>ee_75</string>
	<key>[(76)]</key>
	<string>ee_76</string>
	<key>[(77)]</key>
	<string>ee_77</string>
	<key>[(78)]</key>
	<string>ee_78</string>
	<key>[(79)]</key>
	<string>ee_79</string>
	<key>[(80)]</key>
	<string>ee_80</string>
	<key>[(81)]</key>
	<string>ee_81</string>
	<key>[(82)]</key>
	<string>ee_82</string>
	<key>[(83)]</key>
	<string>ee_83</string>
	<key>[(84)]</key>
	<string>ee_84</string>
	<key>[(85)]</key>
	<string>ee_85</string>
	<key>[(86)]</key>
	<string>ee_86</string>
	<key>[(87)]</key>
	<string>ee_87</string>
	<key>[(88)]</key>
	<string>ee_88</string>
	<key>[(89)]</key>
	<string>ee_89</string>
	<key>[(90)]</key>
	<string>ee_90</string>
	<key>[(91)]</key>
	<string>ee_91</string>
	<key>[(92)]</key>
	<string>ee_92</string>
	<key>[(93)]</key>
	<string>ee_93</string>
	<key>[(94)]</key>
	<string>ee_94</string>
	<key>[(95)]</key>
	<string>ee_95</string>
	<key>[(96)]</key>
	<string>ee_96</string>
	<key>[(97)]</key>
	<string>ee_97</string>
	<key>[(98)]</key>
	<string>ee_98</string>
	<key>[(99)]</key>
	<string>ee_99</string>
	<key>[(100)]</key>
	<string>ee_100</string>
	<key>[(101)]</key>
	<string>ee_101</string>
	<key>[(102)]</key>
	<string>ee_102</string>
	<key>[(103)]</key>
	<string>ee_103</string>
	<key>[(104)]</key>
	<string>ee_104</string>
	<key>[(105)]</key>
	<string>ee_105</string>
	<key>[(106)]</key>
	<string>ee_106</string>
	<key>[(107)]</key>
	<string>ee_107</string>
	<key>[(108)]</key>
	<string>ee_108</string>
	<key>[(109)]</key>
	<string>ee_109</string>
	<key>[(110)]</key>
	<string>ee_110</string>
	<key>[(111)]</key>
	<string>ee_111</string>
	<key>[(112)]</key>
	<string>ee_112</string>
	<key>[(113)]</key>
	<string>ee_113</string>
	<key>[(114)]</key>
	<string>ee_114</string>
	<key>[(115)]</key>
	<string>ee_115</string>
</dict>
</plist>
